:root{
  --body-text-color:#212121;
  --color-h1-title:#FFFFFF;
  --text-link-color-hover:#2196F3;
  --title-color:#212121;
  --text-color:#757575;
  --buton-background-color-hover:#064f8a;;
  --color-ddress:#757575;
  --tex-buton-color:#FFFFFF;
  --buton-background-color:#2196F3;
  --hero-backgrount-color: #2F303A;
  --fotter-backgrount-color:#2F303A;
  --team-backgrount-color:#F5F4FA;
  --logo-one-color:#2196F3;
  --logo-two-color:#212121;
  --buton-work-color:#212121;
  --buton-work-backgrount-color:#F5F4FA;
  --buton-work-color-hover:#FFFFFF;
  --buton-work-backgrount-hover:#2196F3;
}

body{ font-family: 'Roboto',sans-serif;
color: var(--body-text-color);
}

